// Mixins

@mixin retina($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: url('../../images/' + $image_name + $extention);
  background-repeat: no-repeat;
  $x2img : $image_name + '@2x' + $extention;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url('../../images/' + $x2img);
    background-repeat: no-repeat;
    background-size: $w $h;
    -webkit-background-size: $w $h;
    -moz-background-size: $w $h;
    -ms-background-size: $w $h;
    -o-background-size: $w $h;
  }
}

@mixin breakpoint($device) {
  @if $device == phone {
    @media screen and (max-width: $breakpoint-phone) { @content; }
  } @else if $device == tablet {
    @media screen and (max-width: $breakpoint-tablet) { @content; }
  } @else if $device == tablet-up {
    @media screen and (min-width: $breakpoint-phone) { @content; }
  } @else if $device == large-desktop {
    @media screen and (min-width: $breakpoint-large-desktop) { @content; }
  }
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

%inside-shadow {
  @include box-shadow(inset 0 0 5px rgba(0,0,0,0.3));
}