// Variables

$primary:       #C5B5AA;
$primary-dark:  #CBC0B8;
$gray:          #666;
$gray-medium:   #808080;
$gray-light:    #95939E;
$gray-lighter:  #dfdfdf;
$gray-lightest: #F4F4F4;
$white:         #fff;
$soft-blue:     #91acbf;

$breakpoint-large-desktop: 1025px;
$breakpoint-tablet:  1024px;
$breakpoint-phone:  767px;


$npgw-font:     "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

%npgw-font{
    font-family: $npgw-font;
}
