/* ! === WordPress === */

.sticky,
.bypostauthor,
.gallery-caption {
  display: normal;
}

.alignright {
  float: right;
  display: block;
  margin-left: 1em;
}

.alignleft {
  float: left;
  display: block;
  margin-right: 1em;
}

.aligncenter {
  margin: 0 auto;
  float: none;
  text-align: center;
  display: block;
}

img,
img[class*="align"],
img[class*="wp-image-"] {
  max-width: 100%;
  height: auto;
}

img.wp-smiley {
  border: 0;
  margin-top-bottom: 0;
  padding: 0;
}

img.alignright {
  margin: 1em 0 1em 1em;
}

img.alignleft {
  margin: 1em 1em 1em 0;
}

img.aligncenter {
  margin: 1em auto;
}

#wpstats {
  display: block;
  margin: 0 auto;
}

img[class*="align"],
img[class*="wp-image-"],
.gallery .gallery-icon img {
  border: 0;
}

.wp-caption {
  margin-bottom: 1em;
  margin-left: 0;
  max-width: 100%;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }
}

.wp-caption-text {
  position: relative;
  font-size: 80%;
}

.gallery {
  margin: 0 auto;

  .gallery-item {
    margin: 0;
    float: left;
    text-align: center;
    width: 33.3333%;
    padding-right: 1.618%;
    padding-left: 1.618%;
  }
}

.gallery-columns-4 .gallery-item {
  width: 18.527868%;

  img {
    width: 100%;
    height: auto;
  }
}

.gallery-columns-2 .gallery-item {
  @media only screen and ( max-width: 480px ) {
    width: 43.527868%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.gallery-columns-3 .gallery-item img {
  @media only screen and ( max-width: 650px ) {
    width: 100%;
    height: auto;
  }
}