#respond {
  margin-bottom: 3em;
  width: 100%;
  margin-bottom: 2em;

  input[type="text"],
  input[type="name"],
  input[type="email"],
  input[type="url"],
  textarea {
    margin: .1em 0;
    border: solid 3px $primary;
  }

  textarea {
    min-height: 100px;
    max-width: 98%;
    margin-bottom: 1em;
  }

  label {
    display: none;
  }
}

#reply-title,
.closed_comments {
  display: inline-block;
  padding: 1em 0;
  margin: 0;
  font: {
    size: 18px;
  }
}

.logged-in-as {
  padding: .5em 0;
  font: {
    style: italic;
    size: 14px;
  }
}

.comment-notes {
  display: none;
}

.comment {
  margin: 1.5em 0;
  padding: 1.5em 0;
  border-top: solid 1px $gray_lighter;

  &:first-child {
    border-top: 0;
  }

  &.depth-1 {
    margin: 0;
  }

  .avatar {
    float: left;
    margin: 0 2em 0 0;
  }

  .comment-author {
    display: block;
    margin-bottom: 1em;
    color: $gray_lighter;
  }

  &.depth-2,
  &.depth-3,
  &.depth-4,
  &.depth-5,
  &.depth-6,
  &.depth-7,
  &.depth-8,
  &.depth-9,
  &.depth-10 {
    margin-left: 5em;
  }

  &.bypostauthor {
    padding: 1em 2em;
    background: $gray_lighter;
  }
}