
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	background-color: $primary;
	margin-top: 4em;
	padding: .5em;
	height: 40px;
	text-align: center;

	p {
		margin: 0;
		color: white;
	}

}

