.home,
.page-about-fhra,
.page-about-sulfolane,
.page-contact,
.page-fhra-results,
.page-residents,
.page-realtors {
  #header {
    margin-bottom: 1em;
  }
}

#header {
  margin-top: 2em;
  display: block;
  overflow: hidden;
  @include breakpoint(phone) {
    text-align: center;
		
		img.home {
			display: none;
		}
  }

  h1 {
		display: inline-block;
		text-transform: uppercase;
    font-size: 3em;
    font-weight: 300;
    line-height: 1;
    color: $gray-medium;
    text-align: center;
    padding: 33px 20px;
    margin: 0;
    background-position: center center;
    @include retina(icon_title, 498px, 110px);
    @include breakpoint(phone) {
      clear: both;
      text-indent: 0;
    }
  }
  h2 {
    text-transform: uppercase;
    color: $gray-light;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
    background-position: center 30px;
    @include retina(icon_pole, 65px, 68px);
    span {
      display: inline-block;
      line-height: normal;
      width: 100%;
      font-size: 1.6em;
      padding: 0.5em;
      background-color: rgba(255,255,255,0.8);
    }
  }
  h3 {
    background-color: $primary;
    color: $white;
    padding: 1em;
    text-align: center;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4em;
  }
  .header-link {
    text-decoration: none;
  }

  .menu-button {
    display: inline-block;
    margin: 0 auto 1em;
    @include breakpoint( tablet-up ) {
      display: none;
    }
  }
	img.home {
		margin: -6px -4px;
		width: 52px;

	}
}

.lt-ie9 {
  .menu-primary-container li a:before {
    display: none;
  }
}

.menu-primary-container {
  margin-top: 1em;
  display: none;

  .menu {
    display: block;
    padding-left: 0;
    margin: 0;
  }

  li {
    width: 100%;
    display: block;
    a {
      position: relative;
      display: block;
      text-decoration: none;
      font-size: 14px;
      padding: 1em 0;
      color: $gray-medium;
    }

    &.current-menu-item,
    &:hover {
      a {
        color: white;
        background-color: $primary;
      }
    }
  }

  @include breakpoint( tablet-up ) {
    display: block;
    li {
      display: block;

      float: left;
      width: 16.5%;
      text-align: center;
      a {
        position: relative;
        display: block;
        text-decoration: none;
        font-size: 12px;
        padding: 1em 0;
        color: $gray-medium;

        &:before {
          width: 100%;
          display: block;
          margin: .5em auto;
          padding: 0;
          content: '';
          width: 30px;
          height: 30px;
          background-position: top left;
          background-size: 200%;
          background-repeat: no-repeat;
        }

      }

			&.home {
				display: none;
			}

      &:hover,
      &.current_page_item {
        a:before {
          background-position: top right;
        }
      }

      @media screen and ( min-width: 960px ) {
        &:hover,
        &.current_page_item {
          &:after {
            position: absolute;
            content: ' ';
            background-position: bottom left;
            display: block;
            border-top: solid 15px $primary;
            border-left: solid 77px transparent;
            border-right: solid 77px transparent;
          }
        }
      }
    }
  }
}

.about-fhra-link {
  a:before {
    background-image: url( ../../images/about-fhra-menu-icon.png );
  }
}

.about-sulfolane-link {
  a:before {
    background-image: url( ../../images/about-sulfolane-menu-icon.png );
  }
}

.residents-link {
  a:before {
    background-image: url( ../../images/residents-menu-icon.png );
  }
}

.fhra-results-link {
  a:before {
    background-image: url( ../../images/fhra-results-menu-icon.png );
  }
}

.realtors-link {
  a:before {
    background-image: url( ../../images/realtors-menu-icon.png );
  }
}

.contact-link {
  a:before {
    background-image: url( ../../images/contact-menu-icon.png );
  }
}

#header-image {
  background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../images/header-home.jpg');
  height: 330px;
  line-height: 330px;
  @include breakpoint(phone) {
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 200px;
    line-height: 200px;
  }
}

.page-about-fhra #header-image {
  background-image: url('../../images/header-about-3B.jpg');
}

.page-about-sulfolane #header-image {
  background-image: url('../../images/header-about-sulfolane.jpg');
}

.page-fhra-results #header-image {
  background-image: url('../../images/header-fhra-results.jpg');
  background-position: center bottom;
}

.page-residents #header-image {
  background-image: url('../../images/header-residents-3B.jpg');
}

.page-realtors #header-image {
  background-image: url('../../images/header-realtors-3B.jpg');
}

.page-contact #header-image {
  background-image: url('../../images/header-contact-3B.jpg');
}

.page-faqs #header-image {
  background-image: url('../../images/header-faqs-3B.jpg');
}

.page-resources #header-image {
  background-image: url('../../images/header-resources-3B.jpg');
}

#logo {
  width: 119px;
  height: 44px;
  float: left;
  margin-top: 33px;
  @include retina(logo, 119px, 44px);
  @include breakpoint(phone) {
    margin: 0 auto;
    float: none;
    margin-bottom: 1em;
  }
}