.sidebar {
	
	.widget {
		overflow: hidden;
		margin-bottom: 4em;
		h4 {
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	.menu li {
		width: 100%;
	}

	.searchform {
		label {
			display: none;
		}
		#s {
			width: 70%;
			float: left;
		}
		#searchsubmit {
			width: 25%;
			float: right;
		}
	}

}
