@charset "UTF-8";
input,
textarea {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.block, .section-title, .updates, .testimonials, .testimonials img,
.small-testimonials img, .history li {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  overflow-y: scroll; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

/* ! === WordPress === */
.sticky,
.bypostauthor,
.gallery-caption {
  display: normal; }

.alignright {
  float: right;
  display: block;
  margin-left: 1em; }

.alignleft {
  float: left;
  display: block;
  margin-right: 1em; }

.aligncenter {
  margin: 0 auto;
  float: none;
  text-align: center;
  display: block; }

img,
img[class*="align"],
img[class*="wp-image-"] {
  max-width: 100%;
  height: auto; }

img.wp-smiley {
  border: 0;
  margin-top-bottom: 0;
  padding: 0; }

img.alignright {
  margin: 1em 0 1em 1em; }

img.alignleft {
  margin: 1em 1em 1em 0; }

img.aligncenter {
  margin: 1em auto; }

#wpstats {
  display: block;
  margin: 0 auto; }

img[class*="align"],
img[class*="wp-image-"],
.gallery .gallery-icon img {
  border: 0; }

.wp-caption {
  margin-bottom: 1em;
  margin-left: 0;
  max-width: 100%;
  text-align: center; }
  .wp-caption img {
    display: block;
    margin: 0 auto; }

.wp-caption-text {
  position: relative;
  font-size: 80%; }

.gallery {
  margin: 0 auto; }
  .gallery .gallery-item {
    margin: 0;
    float: left;
    text-align: center;
    width: 33.3333%;
    padding-right: 1.618%;
    padding-left: 1.618%; }

.gallery-columns-4 .gallery-item {
  width: 18.527868%; }
  .gallery-columns-4 .gallery-item img {
    width: 100%;
    height: auto; }

@media only screen and (max-width: 480px) {
  .gallery-columns-2 .gallery-item {
    width: 43.527868%; }
    .gallery-columns-2 .gallery-item img {
      width: 100%;
      height: auto; } }

@media only screen and (max-width: 650px) {
  .gallery-columns-3 .gallery-item img {
    width: 100%;
    height: auto; } }

input[type="search"]::-webkit-search-decoration {
  display: none; }

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: inset #666 0 0 5px 0;
  -moz-box-shadow: inset #666 0 0 5px 0;
  box-shadow: inset #666 0 0 5px 0;
  z-index: 1; }

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

button,
.button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #C5B5AA;
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  cursor: pointer;
  border: 0;
  cursor: pointer;
  color: white;
  display: inline-block;
  font: bold 16px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: .3em 10px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0; }

button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-color: #CBC0B8;
  text-decoration: none;
  -webkit-box-shadow: inset #666 0 0 5px 0;
  -moz-box-shadow: inset #666 0 0 5px 0;
  box-shadow: inset #666 0 0 5px 0; }

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0; }

a.button {
  *padding-bottom: 3px; }

button {
  *padding-top: 1px;
  *padding-bottom: 1px; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset #95939E 0 0 5px 0;
  -moz-box-shadow: inset #95939E 0 0 5px 0;
  box-shadow: inset #95939E 0 0 5px 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 16px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  max-width: 100%;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee; }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888; }

input.placeholder_text,
textarea.placeholder_text {
  color: #888888; }

textarea,
select[size],
select[multiple] {
  height: auto; }

select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px; }

  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px; }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666; } }
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif; }

optgroup::-moz-focus-inner {
  border: 0;
  padding: 0; }

.ie6_button,
* html button,
* html a.button {
  background: #dddddd repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto; }

* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px; }

* html button {
  padding-top: 1px;
  padding-bottom: 1px; }

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top; }

* html select {
  margin-top: 1px; }

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888; }

.ie6_input_disabled {
  background: #eeeeee; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333;
  background: #f5f6f6;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #f5f6f6 0%, #ffffff 21%, #ffffff 49%, #ffffff 80%, #f5f6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5f6f6), color-stop(21%, #ffffff), color-stop(49%, #ffffff), color-stop(80%, #ffffff), color-stop(100%, #f5f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f5f6f6 0%, #ffffff 21%, #ffffff 49%, #ffffff 80%, #f5f6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f5f6f6 0%, #ffffff 21%, #ffffff 49%, #ffffff 80%, #f5f6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f5f6f6 0%, #ffffff 21%, #ffffff 49%, #ffffff 80%, #f5f6f6 100%);
  /* IE10+ */
  background: linear-gradient(to right, #f5f6f6 0%, #ffffff 21%, #ffffff 49%, #ffffff 80%, #f5f6f6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 );
  /* IE6-8 */ }

img {
  max-width: 100%;
  height: auto; }

p,
blockquote {
  line-height: 1.4em; }

a {
  color: #C5B5AA; }
  a:hover {
    text-decoration: none; }

p {
  margin-bottom: 1em;
  line-height: 1.618; }

ul {
  list-style: initial;
  padding-left: 15px; }

li {
  font-weight: 300;
  line-height: 1.6;
  font-size: 0.9em; }

h1, h2, h3, h4 {
  font-weight: 100;
  font-family: 'Raleway', sans-serif; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
  overflow: hidden; }

.outer {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1em;
  color: #808080; }
  .outer .page-title {
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    color: #808080; }
  .outer .article {
    max-width: 720px;
    margin: 0 auto; }
  .outer .content {
    padding: .5em 0;
    font-size: .9em; }

.main {
  margin-bottom: 40px;
  overflow: hidden; }

.archive .article, .category .article, .blog .article {
  padding-bottom: 25px; }
.archive .content, .category .content, .blog .content {
  padding: 0px; }
.archive img.pad-bottom, .category img.pad-bottom, .blog img.pad-bottom {
  padding-bottom: 25px; }

@media screen and (min-width: 767px) {
  .single .outer,
  .blog .outer,
  .archive .outer,
  .search .outer,
  .page-template-page-fhra-resources-php .outer {
    padding: 2em; }
    .single .outer .loop,
    .blog .outer .loop,
    .archive .outer .loop,
    .search .outer .loop,
    .page-template-page-fhra-resources-php .outer .loop {
      float: left;
      max-width: 720px;
      width: 63%; }
    .single .outer .sidebar,
    .blog .outer .sidebar,
    .archive .outer .sidebar,
    .search .outer .sidebar,
    .page-template-page-fhra-resources-php .outer .sidebar {
      width: 33%;
      float: right; }
    .single .outer .page-title,
    .blog .outer .page-title,
    .archive .outer .page-title,
    .search .outer .page-title,
    .page-template-page-fhra-resources-php .outer .page-title {
      text-align: left; } }

.content {
  padding: 1em;
  margin: 0 auto;
  color: #808080; }
  @media screen and (min-width: 767px) {
    .content {
      padding: 2em; } }

.block {
  overflow: hidden;
  clear: both; }
  .block ul {
    margin: 0; }

.section-title {
  background-color: #F4F4F4;
  font-size: 1.5em;
  padding: .5em 1em;
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #808080; }

.center-title {
  margin-top: 2em;
  text-align: center; }

#respond {
  margin-bottom: 3em;
  width: 100%;
  margin-bottom: 2em; }
  #respond input[type="text"],
  #respond input[type="name"],
  #respond input[type="email"],
  #respond input[type="url"],
  #respond textarea {
    margin: .1em 0;
    border: solid 3px #C5B5AA; }
  #respond textarea {
    min-height: 100px;
    max-width: 98%;
    margin-bottom: 1em; }
  #respond label {
    display: none; }

#reply-title,
.closed_comments {
  display: inline-block;
  padding: 1em 0;
  margin: 0;
  font-size: 18px; }

.logged-in-as {
  padding: .5em 0;
  font-style: italic;
  font-size: 14px; }

.comment-notes {
  display: none; }

.comment {
  margin: 1.5em 0;
  padding: 1.5em 0;
  border-top: solid 1px #dfdfdf; }
  .comment:first-child {
    border-top: 0; }
  .comment.depth-1 {
    margin: 0; }
  .comment .avatar {
    float: left;
    margin: 0 2em 0 0; }
  .comment .comment-author {
    display: block;
    margin-bottom: 1em;
    color: #dfdfdf; }
  .comment.depth-2, .comment.depth-3, .comment.depth-4, .comment.depth-5, .comment.depth-6, .comment.depth-7, .comment.depth-8, .comment.depth-9, .comment.depth-10 {
    margin-left: 5em; }
  .comment.bypostauthor {
    padding: 1em 2em;
    background: #dfdfdf; }

.home #header,
.page-about-fhra #header,
.page-about-sulfolane #header,
.page-contact #header,
.page-fhra-results #header,
.page-residents #header,
.page-realtors #header {
  margin-bottom: 1em; }

#header {
  margin-top: 2em;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    #header {
      text-align: center; }
      #header img.home {
        display: none; } }
  #header h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 300;
    line-height: 1;
    color: #808080;
    text-align: center;
    padding: 33px 20px;
    margin: 0;
    background-position: center center;
    background-image: url("../../images/icon_title.png");
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #header h1 {
        background-image: url("../../images/icon_title@2x.png");
        background-repeat: no-repeat;
        background-size: 498px 110px;
        -webkit-background-size: 498px 110px;
        -moz-background-size: 498px 110px;
        -ms-background-size: 498px 110px;
        -o-background-size: 498px 110px; } }
    @media screen and (max-width: 767px) {
      #header h1 {
        clear: both;
        text-indent: 0; } }
  #header h2 {
    text-transform: uppercase;
    color: #95939E;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
    background-position: center 30px;
    background-image: url("../../images/icon_pole.png");
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #header h2 {
        background-image: url("../../images/icon_pole@2x.png");
        background-repeat: no-repeat;
        background-size: 65px 68px;
        -webkit-background-size: 65px 68px;
        -moz-background-size: 65px 68px;
        -ms-background-size: 65px 68px;
        -o-background-size: 65px 68px; } }
    #header h2 span {
      display: inline-block;
      line-height: normal;
      width: 100%;
      font-size: 1.6em;
      padding: 0.5em;
      background-color: rgba(255, 255, 255, 0.8); }
  #header h3 {
    background-color: #C5B5AA;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4em; }
  #header .header-link {
    text-decoration: none; }
  #header .menu-button {
    display: inline-block;
    margin: 0 auto 1em; }
    @media screen and (min-width: 767px) {
      #header .menu-button {
        display: none; } }
  #header img.home {
    margin: -6px -4px;
    width: 52px; }

.lt-ie9 .menu-primary-container li a:before {
  display: none; }

.menu-primary-container {
  margin-top: 1em;
  display: none; }
  .menu-primary-container .menu {
    display: block;
    padding-left: 0;
    margin: 0; }
  .menu-primary-container li {
    width: 100%;
    display: block; }
    .menu-primary-container li a {
      position: relative;
      display: block;
      text-decoration: none;
      font-size: 14px;
      padding: 1em 0;
      color: #808080; }
    .menu-primary-container li.current-menu-item a, .menu-primary-container li:hover a {
      color: white;
      background-color: #C5B5AA; }
  @media screen and (min-width: 767px) {
    .menu-primary-container {
      display: block; }
      .menu-primary-container li {
        display: block;
        float: left;
        width: 16.5%;
        text-align: center; }
        .menu-primary-container li a {
          position: relative;
          display: block;
          text-decoration: none;
          font-size: 12px;
          padding: 1em 0;
          color: #808080; }
          .menu-primary-container li a:before {
            width: 100%;
            display: block;
            margin: .5em auto;
            padding: 0;
            content: '';
            width: 30px;
            height: 30px;
            background-position: top left;
            background-size: 200%;
            background-repeat: no-repeat; }
        .menu-primary-container li.home {
          display: none; }
        .menu-primary-container li:hover a:before, .menu-primary-container li.current_page_item a:before {
          background-position: top right; } }
    @media screen and (min-width: 767px) and (min-width: 960px) {
      .menu-primary-container li:hover:after, .menu-primary-container li.current_page_item:after {
        position: absolute;
        content: ' ';
        background-position: bottom left;
        display: block;
        border-top: solid 15px #C5B5AA;
        border-left: solid 77px transparent;
        border-right: solid 77px transparent; } }

.about-fhra-link a:before {
  background-image: url(../../images/about-fhra-menu-icon.png); }

.about-sulfolane-link a:before {
  background-image: url(../../images/about-sulfolane-menu-icon.png); }

.residents-link a:before {
  background-image: url(../../images/residents-menu-icon.png); }

.fhra-results-link a:before {
  background-image: url(../../images/fhra-results-menu-icon.png); }

.realtors-link a:before {
  background-image: url(../../images/realtors-menu-icon.png); }

.contact-link a:before {
  background-image: url(../../images/contact-menu-icon.png); }

#header-image {
  background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../images/header-home.jpg");
  height: 330px;
  line-height: 330px; }
  @media screen and (max-width: 767px) {
    #header-image {
      -o-background-size: cover;
      -ms-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      height: 200px;
      line-height: 200px; } }

.page-about-fhra #header-image {
  background-image: url("../../images/header-about-3B.jpg"); }

.page-about-sulfolane #header-image {
  background-image: url("../../images/header-about-sulfolane.jpg"); }

.page-fhra-results #header-image {
  background-image: url("../../images/header-fhra-results.jpg");
  background-position: center bottom; }

.page-residents #header-image {
  background-image: url("../../images/header-residents-3B.jpg"); }

.page-realtors #header-image {
  background-image: url("../../images/header-realtors-3B.jpg"); }

.page-contact #header-image {
  background-image: url("../../images/header-contact-3B.jpg"); }

.page-faqs #header-image {
  background-image: url("../../images/header-faqs-3B.jpg"); }

.page-resources #header-image {
  background-image: url("../../images/header-resources-3B.jpg"); }

#logo {
  width: 119px;
  height: 44px;
  float: left;
  margin-top: 33px;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #logo {
      background-image: url("../../images/logo@2x.png");
      background-repeat: no-repeat;
      background-size: 119px 44px;
      -webkit-background-size: 119px 44px;
      -moz-background-size: 119px 44px;
      -ms-background-size: 119px 44px;
      -o-background-size: 119px 44px; } }
  @media screen and (max-width: 767px) {
    #logo {
      margin: 0 auto;
      float: none;
      margin-bottom: 1em; } }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: #C5B5AA;
  margin-top: 4em;
  padding: .5em;
  height: 40px;
  text-align: center; }
  #footer p {
    margin: 0;
    color: white; }

.sidebar .widget {
  overflow: hidden;
  margin-bottom: 4em; }
  .sidebar .widget h4 {
    text-transform: uppercase;
    letter-spacing: 2px; }
.sidebar .menu li {
  width: 100%; }
.sidebar .searchform label {
  display: none; }
.sidebar .searchform #s {
  width: 70%;
  float: left; }
.sidebar .searchform #searchsubmit {
  width: 25%;
  float: right; }

.mid-wrap {
  overflow: hidden;
  position: relative; }

.testimonials,
.updates {
  min-height: 100%; }

.updates {
  color: #808080;
  margin-bottom: 1em;
  float: left; }
  .updates a {
    width: 90%;
    float: left;
    margin: 0 5%;
    border-bottom: solid 1px #F4F4F4;
    text-decoration: none;
    color: #95939E; }
    .updates a:last-child {
      border-bottom: 0; }
  .updates h1 {
    margin: 0;
    padding: 1.5em .5em 1em;
    font-size: 1em; }
  .updates time {
    color: #dfdfdf;
    float: right;
    font-size: 9px;
    padding: 0 1em 1em; }
  @media screen and (min-width: 767px) {
    .updates .removethiswrappingclassafteraddingtestimonials {
      width: 33%;
      float: right;
      margin-bottom: 1.5em; } }

.testimonials {
  margin-bottom: 1em; }
  .testimonials blockquote {
    margin: 0; }
  .testimonials .section-title {
    background-color: white; }
  @media screen and (min-width: 767px) {
    .testimonials {
      width: 65.5%;
      float: left;
      margin-bottom: 1.5em; } }

.small-testimonials {
  display: none; }
  @media screen and (min-width: 550px) {
    .small-testimonials {
      display: block;
      width: 40%;
      float: right; } }

.testimonials img,
.small-testimonials img {
  width: 100%; }

@media screen and (min-width: 550px) {
  .large-testimonial img {
    float: left;
    width: 59%; } }

.small-testimonials img {
  float: left;
  width: 50%;
  border-left: solid 2px white; }

.testimonial-quote {
  display: block;
  clear: both;
  padding: 2em;
  width: 100%;
  color: #CBC0B8;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }

.article-front-page {
  margin: 1.5em 0;
  padding: 1em;
  overflow: hidden;
  color: #808080; }
  .article-front-page h2 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 0.3em; }
  .article-front-page h3 {
    color: #C5B5AA;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1em; }
  .article-front-page img {
    margin: 1em auto;
    display: block; }
  .article-front-page .illustration {
    max-width: none;
    float: none; }
    .article-front-page .illustration h2 {
      margin: 0; }
  .article-front-page .content {
    margin-left: 0;
    padding: 0; }
  @media screen and (min-width: 767px) {
    .article-front-page {
      padding: 2em; }
      .article-front-page .content {
        margin-left: 390px; }
      .article-front-page .illustration {
        max-width: 350px;
        float: left; } }

.water-trends h2 {
  margin: 0;
  text-align: center; }

.article-about-fhr {
  border-top: solid 1px #dfdfdf;
  text-align: center;
  margin-top: 2em;
  font-size: .8em; }
  .article-about-fhr .inner {
    max-width: 720px;
    margin: 0 auto; }

.info {
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  position: relative; }
  .info strong {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    text-transform: uppercase;
    color: #dfdfdf;
    font-weight: bold; }
  .info li {
    background-color: #C5B5AA;
    float: left;
    display: block;
    width: 33.33%;
    border-left: 1px solid white;
    position: relative;
    height: 550px; }
    @media screen and (max-width: 767px) {
      .info li {
        width: 100%;
        height: auto; }
        .info li:after {
          display: none; }
        .info li:before {
          height: 200px; } }
    .info li p {
      margin: 2em 1em;
      color: #fff;
      line-height: 1.6em; }
    .info li:before {
      content: " ";
      display: block;
      width: 100%;
      height: 280px;
      background-color: #F9F9F9;
      background-repeat: no-repeat;
      background-position: center 60px;
      -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1); }
    .info li:after {
      content: " ";
      top: 230px;
      left: 0;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #CBC0B8;
      border-bottom-width: 50px;
      border-top-width: 0;
      border-left-width: 149px;
      border-right-width: 148px; }
  .info .oil:before {
    background-image: url("../../images/icon_oil.png");
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .info .oil:before {
        background-image: url("../../images/icon_oil@2x.png");
        background-repeat: no-repeat;
        background-size: 92px 141px;
        -webkit-background-size: 92px 141px;
        -moz-background-size: 92px 141px;
        -ms-background-size: 92px 141px;
        -o-background-size: 92px 141px; } }
  .info .group:before {
    background-image: url("../../images/icon_group.png");
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .info .group:before {
        background-image: url("../../images/icon_group@2x.png");
        background-repeat: no-repeat;
        background-size: 146px 146px;
        -webkit-background-size: 146px 146px;
        -moz-background-size: 146px 146px;
        -ms-background-size: 146px 146px;
        -o-background-size: 146px 146px; } }
  .info .safety:before {
    background-image: url("../../images/icon_safety.png");
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .info .safety:before {
        background-image: url("../../images/icon_safety@2x.png");
        background-repeat: no-repeat;
        background-size: 141px 123px;
        -webkit-background-size: 141px 123px;
        -moz-background-size: 141px 123px;
        -ms-background-size: 141px 123px;
        -o-background-size: 141px 123px; } }

.agencies ul {
  color: #C5B5AA;
  text-align: center;
  padding-left: 0; }
  .agencies ul li {
    display: inline-block;
    margin-bottom: 0.6em; }
    .agencies ul li.breakline:before, .agencies ul li:first-child:before {
      visibility: hidden; }
    .agencies ul li:before {
      content: " ";
      height: 16px;
      width: 1px;
      float: left;
      display: block;
      margin: 0 10px;
      background-color: #C5B5AA; }
    @media screen and (max-width: 767px) {
      .agencies ul li {
        display: block; }
        .agencies ul li:before {
          display: none; } }

.about {
  padding-bottom: 1em; }
  .about h3 {
    color: #C5B5AA;
    margin: 2em 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em; }
  .about ul {
    padding-left: 0; }

.lt-ie9 .history img {
  display: none; }

.history {
  margin-top: 1.5em; }
  .history ul {
    list-style: none;
    padding: 0; }
  .history li {
    background-color: white;
    padding: 1.15em 15em;
    text-align: center;
    margin: 0;
    position: relative;
    color: #808080; }
    @media screen and (max-width: 767px) {
      .history li {
        padding: 2em; }
        .history li img {
          display: none; } }
    .history li img {
      position: absolute;
      max-width: 120px;
      border: solid 3px white;
      -webkit-box-shadow: 0 0 7px 0 #aaa;
      -moz-box-shadow: 0 0 7px 0 #aaa;
      box-shadow: 0 0 7px 0 #aaa;
      top: 0;
      left: 0; }
    .history li.article-nov-2009 img {
      right: 0;
      left: auto;
      max-width: 143px; }
    .history li.article-2011-now img {
      max-width: 164px; }
    .history li.article-1985-2 img {
      right: 0;
      left: auto; }
    .history li.gray-lightest, .history li.article-1980-2, .history li.article-1985-2 {
      background-color: #F7F8F8; }
    .history li.gray-light, .history li.article-1988-to-1998, .history li.article-2000-2002, .history li.article-2002-2, .history li.article-dec-2013, .history li.article-2013-2 {
      background-color: #F1F1F2; }
    .history li.gray-medium, .history li.article-2004-2, .history li.article-jan-2011, .history li.article-2011-now {
      background-color: #E2E3E4; }
    .history li.gray, .history li.article-oct-2009, .history li.article-nov-2009, .history li.article-2009-now, .history li.article-jan-2010, .history li.article-aug-2010 {
      background-color: #D9DADC; }
  .history h4 {
    font-size: 1.6em;
    margin: 0 0 .7em; }

.approach-response {
  color: #808080;
  margin-top: 1em; }
  .approach-response .approach,
  .approach-response .response {
    padding: 0 1em 1em; }
  .approach-response h2 {
    text-align: center;
    padding: 1em 0;
    font-size: 1.5em; }
  .approach-response blockquote {
    font-style: italic; }
  .approach-response .response {
    background-color: #C5B5AA;
    color: white; }
  .approach-response p {
    font-size: .9em;
    line-height: 1.6;
    margin-bottom: 1em; }
  @media screen and (min-width: 767px) {
    .approach-response .approach,
    .approach-response .response {
      float: left;
      width: 50%;
      padding: 0 2em 2em; } }

.page-about-sulfolane .excerpt {
  font-size: 1.2em; }
  .page-about-sulfolane .excerpt p {
    margin: 0; }
.page-about-sulfolane .content {
  max-width: 720px; }
  .page-about-sulfolane .content img {
    margin-top: 0; }
  .page-about-sulfolane .content li {
    margin-bottom: 1em; }

.address {
  text-align: center; }

#mc_embed_signup {
  margin: 1em auto;
  max-width: 425px;
  color: #808080;
  padding: 0 0.5em; }
  #mc_embed_signup h2 {
    margin-bottom: 0.5em; }
  #mc_embed_signup h2, #mc_embed_signup h3 {
    text-align: center; }
  #mc_embed_signup label {
    display: none; }
  #mc_embed_signup input {
    width: 100%;
    margin-bottom: 0.5em; }
  #mc_embed_signup input,
  #mc_embed_signup textarea {
    box-shadow: none;
    border: 1px solid #C5B5AA;
    color: #C5B5AA;
    margin-bottom: 0.9em; }
    #mc_embed_signup input:focus,
    #mc_embed_signup textarea:focus {
      color: #91acbf;
      border-color: #91acbf;
      box-shadow: 0px 0px 6px rgba(145, 172, 191, 0.5); }
  #mc_embed_signup input[type="submit"] {
    width: auto;
    margin: 1em auto 2em;
    color: white;
    padding: 0.8em 1.7em !important; }
    #mc_embed_signup input[type="submit"]:hover {
      background: #91acbf;
      border-color: #91acbf; }
    #mc_embed_signup input[type="submit"]:focus {
      box-shadow: none; }
  #mc_embed_signup .form {
    text-align: center; }
  #mc_embed_signup .indicates-required {
    color: #91acbf;
    margin-bottom: 1.5em; }
  #mc_embed_signup input.email {
    background-position: 98% 50% !important; }
  #mc_embed_signup #mce-FNAME {
    width: 48.5%;
    float: left; }
  #mc_embed_signup #mce-LNAME {
    width: 48.5%;
    float: right;
    clear: right; }

.wpcf7 {
  padding-top: 1em;
  border-top: 1px solid #C5B5AA; }
  .wpcf7 input,
  .wpcf7 textarea {
    box-shadow: none;
    border: 1px solid #C5B5AA;
    color: #C5B5AA;
    margin-bottom: 0.9em;
    margin-top: 0.3em; }
    .wpcf7 input:focus,
    .wpcf7 textarea:focus {
      color: #91acbf;
      border-color: #91acbf;
      box-shadow: 0px 0px 6px rgba(145, 172, 191, 0.5); }
  .wpcf7 input[type="submit"] {
    width: auto;
    margin: 1em auto 2em;
    color: white;
    padding: 0.8em 1.7em !important; }
    .wpcf7 input[type="submit"]:hover {
      background: #91acbf;
      border-color: #91acbf; }
    .wpcf7 input[type="submit"]:focus {
      box-shadow: none !important; }
  .wpcf7 form {
    text-align: center; }
  .wpcf7 input.email {
    background-position: 98% 50% !important; }

.f-1of2 {
  width: 48.5%; }
  .f-1of2:nth-child(odd) {
    float: left; }
  .f-1of2:nth-child(even) {
    float: right; }

.wpcf7-list-item {
  font-size: 1.25em; }
  .wpcf7-list-item:nth-child(1n+1) {
    margin-right: 1em; }
  .wpcf7-list-item:nth-child(2n+1) {
    margin-right: 1em; }
  .wpcf7-list-item:nth-child(3n+1) {
    margin-right: 1em; }
  .wpcf7-list-item:nth-child(4n+1) {
    margin-right: 1em; }
  .wpcf7-list-item:nth-child(5n+1) {
    margin-right: 1em; }

.city-state-inputs {
  margin: -0.8em auto 0 auto;
  width: 100%;
  max-width: 318px; }
  .city-state-inputs input {
    float: left;
    max-width: 76%;
    display: inline; }
  .city-state-inputs select {
    float: right;
    min-width: 18%;
    min-height: 1em;
    display: inline;
    margin-top: -0.8em; }

@media screen and (min-width: 768px) {
  .f-wrap-1of2 {
    width: 48.5%; }
    .f-wrap-1of2:nth-child(odd) {
      float: left; }
    .f-wrap-1of2:nth-child(even) {
      float: right; }
    .f-wrap-1of2 .wpcf7 {
      border-top: 0;
      padding-top: 0; } }
.article-fhra-results {
  color: #808080; }
  .article-fhra-results h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 300; }
  .article-fhra-results img {
    margin-bottom: 1em; }
  .article-fhra-results .lead {
    text-align: center;
    margin-bottom: 1em; }
  .article-fhra-results .content {
    padding: 2em 1em; }
    @media screen and (min-width: 767px) {
      .article-fhra-results .content {
        padding: 2em 8em; } }
    .article-fhra-results .content h3 {
      text-align: center;
      margin-bottom: 1em;
      font-size: 1.2em; }
