.article-about-fhr {
  border-top: solid 1px $gray-lighter;
  text-align: center;
  margin-top: 2em;
  font-size: .8em;

  .inner {
    max-width: 720px;
    margin: 0 auto;
  }
}

.info {
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  position: relative;

  strong {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    text-transform: uppercase;
    color: $gray-lighter;
    font-weight: bold;
  }

  li {
    background-color: $primary;
    float: left;
    display: block;
    width: 33.33%;
    border-left: 1px solid white;
    position: relative;
    height: 550px;
    @include breakpoint(phone) {
      width: 100%;
      height: auto;
      &:after {
        display: none;
      }
      &:before {
        height: 200px;
      }
    }
    p {
      margin: 2em 1em;
      color: $white;
      line-height: 1.6em;
    }
    &:before {
      content: " ";
      display: block;
      width: 100%;
      height: 280px;
      background-color: #F9F9F9;
      background-repeat: no-repeat;
      background-position: center 60px;
      @include box-shadow(inset 0 0 40px rgba(0,0,0,0.1));
    }
    &:after {
      content: " ";
      top: 230px;
      left: 0;
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: $primary-dark;
      border-bottom-width: 50px;
      border-top-width: 0;
      border-left-width: 149px;
      border-right-width: 148px;
    }
  }
  .oil:before {
    @include retina(icon_oil, 92px, 141px);
  }
  .group:before {
    @include retina(icon_group, 146px, 146px);
  }
  .safety:before {
    @include retina(icon_safety, 141px, 123px);
  }
} 

.agencies ul {

  color: $primary;
  text-align: center;
  padding-left: 0;
  li {
    display: inline-block;
    margin-bottom: 0.6em;
    &.breakline,
    &:first-child {
      &:before {
        visibility: hidden;
      }
    }
    &:before {
      content: " ";
      height: 16px;
      width: 1px;
      float: left;
      display: block;
      margin: 0 10px;
      background-color: $primary;
    }
    @include breakpoint(phone) {
      display: block;
      &:before {
        display: none;
      }
    }
  }
}

.about {
  padding-bottom: 1em;

  h3 {
    color: $primary;
    margin: 2em 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  ul {
    padding-left: 0;
  }
}


.lt-ie9 {
  .history img {
    display: none;
  }
}

.history {
  margin-top: 1.5em;

  ul {
    list-style: none;
    padding: 0;
  }
  li {
    background-color: white;
    padding: 1.15em 15em;
    text-align: center;
    margin: 0;
    position: relative;
    color: $gray-medium;
    @extend %inside-shadow;
    @include breakpoint(phone) {
      padding: 2em;
      img {
        display: none;
      }
    }
    img {
      position: absolute;
      max-width: 120px;
      border: solid 3px white;
      @include box-shadow( 0 0 7px 0 #aaa );
      top: 0;
      left: 0;
    }

    &.article-nov-2009 img {
      right: 0;
      left: auto;
      max-width: 143px;
    }
    &.article-2011-now img {
      max-width: 164px;
    }
    &.article-1985-2 img {
      right: 0;
      left: auto;
    }


    &.gray-lightest,
    &.article-1980-2,
    &.article-1985-2 {
      background-color: #F7F8F8;
    }
    &.gray-light,
    &.article-1988-to-1998,
    &.article-2000-2002,
    &.article-2002-2,
    &.article-dec-2013,
    &.article-2013-2 {
      background-color: #F1F1F2;
    }
    &.gray-medium,
    &.article-2004-2,
    &.article-jan-2011,
    &.article-2011-now {
      background-color: #E2E3E4;
    }
    &.gray,
    &.article-oct-2009,
    &.article-nov-2009,
    &.article-2009-now,
    &.article-jan-2010,
    &.article-aug-2010 {
      background-color: #D9DADC;
    }
  }
  h4 {
    font-size: 1.6em;
    margin: 0 0 .7em;
  }
}

.approach-response {
	color: $gray-medium;
  margin-top: 1em;

	.approach,
	.response {
		padding: 0 1em 1em;
	}
		
	h2 {
		text-align: center;
		padding: 1em 0;
		font-size: 1.5em;
	}

  blockquote {
    font-style: italic;
  }

	.response {
		background-color: $primary;
		color: white;
	}

	p {
		font-size: .9em;
		line-height: 1.6;
		margin-bottom: 1em;
	}

	@include breakpoint( tablet-up ) {

		.approach,
		.response {
			float: left;
			width: 50%;
			padding: 0 2em 2em;
		}

	}

}