.address {
	text-align: center;
}


#mc_embed_signup {
  margin: 1em auto;
  max-width: 425px;
  color: $gray-medium;
  padding: 0 0.5em;
  h2 {
    margin-bottom: 0.5em;
  }
  h2,h3 {
    text-align: center;
  }
  
  label {
    display: none;
  }

  input {
  	width: 100%;
  	margin-bottom: .5em
  }
  input,
  textarea{
      box-shadow: none;
      border: 1px solid $primary;
      color: $primary;
      margin-bottom: 0.9em;
      &:focus{
          color: $soft-blue;
          border-color: $soft-blue;
          box-shadow: 0px 0px 6px rgba($soft-blue, .5);
      }
  }
    input[type="submit"]{
        width: auto;
        margin: 1em auto 2em;
        color: white;
        padding: 0.8em 1.7em !important;
        &:hover{
            background: $soft-blue;
            border-color: $soft-blue;
        }
        &:focus{
            box-shadow: none;
        }
    }
    .form{
        text-align: center;
    }
    .indicates-required{
        color: $soft-blue;
        margin-bottom: 1.5em;
    }
    input.email{
        background-position: 98% 50% !important;
    }
    #mce-FNAME{
        width: 48.5%;
        float: left;
    }
    #mce-LNAME{
        width: 48.5%;
        float: right;
        clear: right;
    }
}


input,
textarea{
    @extend %npgw-font;
}

.wpcf7{
    padding-top: 1em;
    border-top: 1px solid $primary;

    input,
    textarea{
        box-shadow: none;
        border: 1px solid $primary;
        color: $primary;
        margin-bottom: 0.9em;
        margin-top: 0.3em;
        &:focus{
            color: $soft-blue;
            border-color: $soft-blue;
            box-shadow: 0px 0px 6px rgba($soft-blue, .5);
        }
    }
    input[type="submit"]{
        width: auto;
        margin: 1em auto 2em;
        color: white;
        padding: 0.8em 1.7em !important;
        &:hover{
            background: $soft-blue;
            border-color: $soft-blue;
        }
        &:focus{
            box-shadow: none !important;
        }
    }
    form{
        text-align: center;
    }
    input.email{
        background-position: 98% 50% !important;
    }
}
.f-1of2{
    width: 48.5%;
    &:nth-child(odd){
        float: left;
    }
    &:nth-child(even){
        float: right;
    }
}
.wpcf7-list-item{
    font-size: 1.25em;
    &:nth-child(1n+1){
        margin-right: 1em;
    }
    &:nth-child(2n+1){
        margin-right: 1em;
    }
    &:nth-child(3n+1){
        margin-right: 1em;
    }
    &:nth-child(4n+1){
        margin-right: 1em;
    }
    &:nth-child(5n+1){
        margin-right: 1em;
    }
}

.city-state-inputs{
    margin: -0.8em auto 0 auto;
    width: 100%;
    max-width: 318px;
    input{
        float: left;
        max-width: 76%;
        display: inline;
    }
    select{
        float: right;
        min-width: 18%;
        min-height: 1em;
        display: inline;
        margin-top: -0.8em;
    }
}

@media screen and (min-width: 768px) {

    .f-wrap-1of2{
        width: 48.5%;
        &:nth-child(odd){
            float: left;
        }
        &:nth-child(even){
            float: right;
        }
        .wpcf7{
            border-top: 0;
            padding-top: 0;
        }
    }

}