
.article-fhra-results {
	color: $gray-medium;

	h2 {
		text-align: center;
		margin-bottom: 1em;
		font-size: 1.5em;
		font-weight: 300;
	}

	img {
		margin-bottom: 1em;
	}

	.lead {
		text-align: center;
		margin-bottom: 1em;
	}

	.content {
		padding: 2em 1em;
		@include breakpoint(tablet-up) {
			padding: 2em 8em;
		}

		h3 {
			text-align: center;
			margin-bottom: 1em;
			font-size: 1.2em;
		}
	}
}