
.mid-wrap {
	overflow: hidden;
	position: relative;
}

.testimonials,
.updates {
	min-height: 100%;	
}

.updates {
	@extend %inside-shadow;
	color: $gray-medium;
	margin-bottom: 1em;
	float: left;

	a {
		width: 90%;
		float: left;
		margin: 0 5%;
		border-bottom: solid 1px $gray-lightest;
		text-decoration: none;
		color: $gray-light;

		&:last-child {
			border-bottom: 0;
		}
	}

	h1 {
		margin: 0;
		padding: 1.5em .5em 1em;
		font-size: 1em;
	}

	time {
		color: $gray-lighter;
		float: right;
		font-size: 9px;
		padding: 0 1em 1em;
	}

	.removethiswrappingclassafteraddingtestimonials {

		@include breakpoint( tablet-up ) {
			width: 33%;
			float: right;
			margin-bottom: 1.5em;
		}

	}
}

.testimonials {
	@extend %inside-shadow;
	margin-bottom: 1em;

	blockquote {
		margin: 0;
	}

	.section-title {
		background-color: white;
	}

	@include breakpoint( tablet-up ) {
		width: 65.5%;
		float: left;
		margin-bottom: 1.5em;
	}
}


.small-testimonials {
	display: none;
	@media screen and ( min-width: 550px ) {
		display: block;
		width: 40%;
		float: right;
	}
}

.testimonials,
.small-testimonials {
	img {
		width: 100%;
		@extend %inside-shadow;
	}
}


.large-testimonial img {
	@media screen and ( min-width: 550px ) {
		float: left;
		width: 59%;
	}
}

.small-testimonials img {
	float: left;
	width: 50%;
	border-left: solid 2px white;
}

.testimonial-quote {
	display: block;
	clear: both;
	padding: 2em;
	width: 100%;
	color: $primary-dark;
	font-style: italic;
	quotes: "\201C""\201D""\2018""\2019";
}

.article-front-page {
	margin: 1.5em 0;
	padding: 1em;
	overflow: hidden;
	color: $gray-medium;

	h2 {
		font-size: 2em;
		font-weight: 300;
		margin-bottom: 0.3em;
	}

	h3 {
		color: $primary;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 1em;
	}

	img {
		margin: 1em auto;
		display: block;
	}

	.illustration {
		max-width: none;
		float: none;
		h2 {
			margin: 0;
		}
	}

	.content {
		margin-left: 0;
		padding: 0;
	}

	@include breakpoint( tablet-up ) {
		padding: 2em;

		.content {
			margin-left: 390px;
		}

		.illustration {
			max-width: 350px;
			float: left;
		}
	}
}

.water-trends {
	h2 {
		margin: 0;
		text-align: center;
	}
	
}